<div>
  <h4 class = "appoint-content">サービス応募者一覧</h4>
  <h4 class = "back-to-index"><%= link_to "戻る", user_path(current_user.id) %><h4>
</div>

<div class = "appoint-table">
  <table class = "detail-service-content">
     <tbody>
        <tr>
          <th class="detail-service1">応募者名</th>
          <th class="detail-service1">応募したサービス</th>
          <th class="detail-service1">応募者メールアドレス</th>
        </tr>
        <% @service_orders.each do |service_order| %>
        <tr>
          <td class="detail-service-value1"><%= service_order.user.name %></td>
          <td class="detail-service-value1"><%= service_order.service.content %></td>
          <td class="detail-service-value1"><%= service_order.user.email %></td>
        </tr>
        <% end %>
      </tbody>
   </table>
</div>