.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item9 {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
  color: blue;
}

.detail-value9 {
  width: 20%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
}

.detail-item10 {
  width: 40%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
  color: blue;
}

.detail-value10 {
  width: 40%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
}

.detail-item11 {
  width: 30%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
  color: blue;
}

.detail-value11 {
  width: 30%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 18px;
  text-align: center;
}

.general{
  justify-content: space-between;
}

.alldata{
  font-size: 40px;
  text-align: center;
  background-color: red;
  color: white;
}

.backs1{
  text-align: right;
  margin-right: 40px;
  font-size: 25px;
}

.data{
  margin-top: 30px; 
}

.info{
  margin-top: 30px;
}