.appoint-content{
  text-align: center;
  font-size: 40px;
  background-color: red;
  color: white;
}

.detail-service-content{
  margin-left: auto;
  margin-right: auto;
}

.appo{
  text-align: center;
  margin-top: 30px;
}

.appoint-table{
  text-align: center;
}
